

<div class="card">
    <div class="card-header">
        <h4 class="my-1">
            {{ title }}
          </h4>
    </div>
  <div class="card-body">
    <table class="table table-lg table-bordered">
      <tbody>
        <tr>
          <th colspan="2">Informations</th>
        </tr>
        <tr>
          <th>ID</th>
          <td>{{userInfo?.id?.toUpperCase()}}</td>
        </tr>
        <tr>
          <th>Full name</th>
          <td>{{ userInfo?.firstname }} {{ userInfo?.lastname }}</td>
        </tr>
        <tr>
          <th>Last login</th>
          <td>{{ userInfo?.last_login?.toString() }}</td>
        </tr>
        <tr>
          <th>Creation date</th>
          <td>{{ userInfo?.date_created?.toString() }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
